# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env

# Logs
logs/
*.log

# MongoDB data (if local DB is stored here)
data/
dump/

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
